<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    .category{
        min-height: 100%;
        padding-top: 20px;

    }
    #category .layui-tree-entry{
        height: auto;
        white-space: normal;
    }
    .category-btn{
        border: 0;
    }
</style>
<body>
<div class="category">
    <div class="tree-head"></div>
    <div id="category" >
    </div>
    <div>
        <button class="layui-btn layui-btn-primary layui-border-blue category-btn">
            <i class="layui-icon layui-icon-addition layui-font-12"></i>
            添加分类
        </button>
    </div>
</div>


<script>

</script>
</body>
</html>